*{
    margin: 0;
    padding: 0;
}
body{
    margin:auto;
}
.noMargin{
    margin:0;
}
#main{
    height:80%;
    min-height: 300px;
    max-height: 100vh;
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
}
.justify-left{
    justify-content: flex-start !important;
}
canvas{
    aspect-ratio:1;
    background-color: rgb(126, 126, 126);
}
#interactions{
    position:relative;
    width: 100%;
    max-width: 120px;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(194, 194, 194);
}
#button_list{
    width: 100%;
}
ul{
    list-style-type: none;
}
.noTransition{
    transition: none !important;
    animation: none !important;
}
#pausePlay{
    box-sizing:border-box;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    background-color:transparent;
    margin-left:1%;
    margin-top: 0.5%;
}
#pausePlay.play{
    border-color: transparent transparent transparent white;
}
#pausePlay.pause{
    border-style: double;
    border-color: transparent transparent transparent rgb(0, 0, 0);
}
#graphFooter{
    position:absolute;
    width:0;
    height: 3%;
    background-color: rgb(47, 199, 85);
}
#inspect{
    aspect-ratio:1;
    width:20%;
}
#inspect:hover{
    cursor:help;
}
.controlButton{
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
}
.spawn_button{
    width:100%;
    height:100%;
    background-color:rgb(100, 177, 106);
    border:none;
    cursor: grab;
    padding:5%;
}
.spawn_button:hover{
    background-color:rgb(80, 157, 86);
    
}
#controls{
    position:absolute;
    width:90%;
    padding:5%;
    bottom:0;
    background-color:rgb(112, 174, 240);
}
.phys_obj{
    width:100%;
    max-height:60px;
    
    height:10%;
    min-height:30px;
    font-size: 100%;
}
.hover_with_obj{
    cursor:grabbing;
}
.hidden{
    display:none !important;
}
.absolutePos{
    position: absolute;
}
#propertyView{
    display:block;
    background-color: rgb(255, 255, 255);
    aspect-ratio:1;
    border-radius: 5px;
    text-align:left;
    padding:5px;
}