.muscleGraph{
    width:30%;
    aspect-ratio: 1;
}
#muscleGraphWrapper{
    display:flex;
    flex-wrap: nowrap;
    background-color: gray;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;
}
#muscleGraphWrapperHeader{
    position: relative;
    background-color:rgb(45, 220, 45);
    width:100%;
    height: 1.5em;
}
#muscleGraphParamView{
    width: 500px;
    background-color: white;
    height:auto;
}