.muscleGraph{
    aspect-ratio: 1;
}
#muscleGraphWrapper{
    display:flex;
    flex-direction:column;    
    align-items: center;
    justify-content: space-evenly;

    background-color: gray;
    width:100%;
    margin-left:auto;
    margin-right:auto;

    overflow-y: auto;
    max-height: 350px;

}
#muscleGraphWrapperHeader{
    position: relative;
    background-color:rgb(45, 220, 45);
    width:100%;
    height: 1.5em;
    align-content:center;
}
#muscleGraphParamView{
    background-color: white;
    height:auto;
}