.muscleGraph{
    aspect-ratio: 1;
    margin-top:5px;
    margin-bottom:10px;
    width:100%;
    background-color:rgb(60, 120, 120);
}
#muscleGraphWrapper{
    display:flex;
    flex-direction:column;    
    align-items: center;
    justify-content: space-evenly;

    background-color: rgb(60, 120, 120);
    width:100%;
    margin-left:auto;
    margin-right:auto;

    overflow-y: auto;
    max-height: 350px;

}
#muscleGraphWrapper::-webkit-scrollbar{
    background-color:rgb(88, 88, 88);
}
#muscleGraphWrapper::-webkit-scrollbar-thumb{
    background-color:rgb(216, 255, 254);
    border: 2px solid rgb(88, 88, 88);
    border-radius:25px;
}
.minatureWindow > .miniWindowHeader{
    position: relative;
    background-color:rgb(45, 220, 45);
    width:100%;
    height: 1.5em;
    align-content:center;
}
.minatureWindow{
    background-color: rgb(60, 120, 120);
    height:auto;
    width:350px;
    left:0;
    top: 95vh;
    border:1px solid black;
}
.miniWindowClose{
    cursor:pointer;

    position:absolute;
    right:0;
    top:0;
    
    height:100%;
    aspect-ratio:1;

    font-size:0.9em;
    text-align:center;

    border:none;
    background-color:rgb(45, 220, 45);
    color:black;

}
.miniWindowClose::before{
    color:black;
}
