#navBar{
    height:5%;
    width:100%;
    background-color: rgb(60, 140, 150);
}
#navButtons{
    display:flex;
    justify-content:flex-end;
    align-items: center;

    position:absolute;
    right:0;

    width: 30%;
    height: 5%;
    margin-right:20px;
}
.navButton{
    border:none;
    background-color: rgb(60, 140, 150);
    height:100%;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 100px;
}
.navButton:hover{
    cursor:pointer;
    background-color: rgb(40, 120, 130);
}
.navButton.selected{
    cursor:default;
    background-color: rgb(80, 160, 170);
}